body {
  background-color: #1d1d1d;
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 480px) {
  #puzzle-small {
    height: 300px;
    width: 300px;
  }
  .case {
    font-size: 20px !important;
  }
  .solve,
  .check {
    font-size: 18px !important;
  }
  .case.candidate {
    font-size: 9px !important;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.puzzle-container {
  height: 400px;
  width: 400px;
}

.bar {
  background-color: #1d1d1d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid #4a4a4a;
}

.bar span {
  letter-spacing: 2px;
}

.bar img {
  margin-right: 15px;
}

.grid {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  border: 3px solid white;
  border-right: none;
  border-bottom: none;
  border-collapse: collapse;
  background-color: #1d1d1d;
}

.row {
  height: calc(100% / 9);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.case.candidate {
  font-size: 12px;
  resize: none;
  overflow: hidden;
}

.case {
  cursor: pointer;
  height: 100%;
  width: calc(100% / 9);
  border: 1px solid gray;
  border-collapse: collapse;
  font-size: 23px;
  text-align: center;
  padding: 0px;
  background-color: #1d1d1d;
  color: white;
  transition: all 0.3s ease-in-out;
}

.case:focus {
  caret-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.514);
}

.case.initial {
  background-color: #000000;
  color: white;
  font-weight: bold;
}

.case.initial:focus {
  background-color: rgb(15, 15, 15);
}

.edge-case {
  border-right: 3px solid white;
}

.edge-row {
  border-bottom: 3px solid white;
  width: auto;
}

.case.invalid {
  background-color: #ff000081;
}
.case.invalid:focus {
  background-color: #ff00005d;
}

.undo,
.clear {
  margin: 5px;
  width: 40px;
  height: 40px;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.bottom-bar {
  display: flex;
  justify-content: center;
}

.button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.undo-icon {
  position: relative;
  top: 1px;
  width: 20px;
  height: 20px;
}

.clear-icon {
  width: 20px;
  height: 20px;
  background-color: #333;
}

.puzzle-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.solve {
  margin: 10px;
  width: 40%;
  height: 40px;
  background-color: #1a0225;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.solve:hover,
.check:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.check {
  margin: 10px;
  width: 40%;
  height: 40px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.right {
  background-color: #00ff00 !important;
}
.wrong {
  background-color: #ff0000 !important;
}

.check.on {
  background-color: #00ff00 !important;
}

.help {
  width: 100%;
  margin-top: 10px;

  text-align: center;
}
